<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SecQR</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/SecQR_logo.png') }}" rel="icon">
</head>
<body>
    <div class="about-content">
        <h1>About SecQR</h1>
        <p>SecQR is a web-based application designed to check QR codes for dangerous URLs and send secret messages through QR codes. 
            It supports both image uploads and direct QR code scanning.</p>
        <p>To send a secret message, encode your QR code with both a normal and a secret message. 
            The recipient can then use SecQR to decode both messages.</p>
        <p>The secret message remains hidden from standard scanners and is encrypted before encoding, ensuring data confidentiality. 
            Note that the normal message can be up to 84 characters long, and the secret message can be up to 57 characters long.</p>
        <p>Enjoy using SecQR!</p>
    </div>
    <a href="/redirect-to-home" class="button-like">Home</a>
</body>
</html>
